<article class="post">
  {{ .Render "header" }}

  {{ if .Site.Params.socialShare }}
    <section id="social-share">
      <ul class="icons">
        {{ partial "share-links" . }}
      </ul>
    </section>
  {{ end }}

  {{ .Render "featured" }}
  <div id="content">
    {{ .Content }}
  </div>
  



{{ $related := .Site.RegularPages.RelatedTo (keyVals "tags" $.Params.tags) }}
{{ with $related }}
<h3>See Also</h3>
<ul>
	{{ range . }}
	<li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
	{{ end }}
</ul>
{{ end }}

  
  <footer>
    {{ .Render "footer-category" }}
  </footer>
</article>
{{ .Render "prev-next" }}
