{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">
        <article class="post">
            {{ $.Scratch.Set "h1" true }}
            {{ .Render "header" }}
            <div id="content">
                {{ .Content }}
            </div>
        </article>
    </div>


{{ $related := .Site.RegularPages.RelatedTo (keyVals "tags" $.Params.tags) }}
{{ with $related }}
<h3>See Also</h3>

	{{ range . }}

<article class="itemized">
    {{ .Render "header" }}
</article>

	{{ end }}

{{ end }}


    {{ partial "sidebar" . }}

    {{ partial "footer" . }}
