<script src="//yihui.name/js/math-code.js"></script>
<script async
src="{{ .Site.Params.MathJaxCDN | default "//cdnjs.cloudflare.com/ajax/libs"}}/mathjax/{{ .Site.Params.MathJaxVersion | default "2.7.5" }}/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

