{{ partial "general-title" . }}

{{ partial "header" . }}
    {{ partial "navbar" . }}
    <!-- Main -->
    <div id="main">

      {{ with .Site.GetPage "/uht" }}
<article class="post">
      <h1>{{ .Title }}</h1>
      <h2>{{ .Description }}</h2>
      {{ .Content }}
</article>

{{ end }}

{{ $related := .Site.RegularPages.RelatedTo ( keyVals "tags" "UHT Clerical" "Unity Health Toronto") }}
{{ with $related }}
<h3>See Also</h3>
<ul>
	{{ range . }}
<article class="itemized">
    {{ .Render "header" }}
</article>

	{{ end }}
</ul>
{{ end }}
      
      
        {{ $paginator := .Paginate .Data.Pages }}
        {{ range .Paginator.Pages }}
            {{ .Render "content-list" }}
        {{ end }}

        {{ partial "pagination" . }}
    </div>
    {{ partial "sidebar" . }}
{{ partial "footer" . }}
